body {
  background: blanchedalmond;
}
h1 {
  text-align: center;
}
h2 {
  position: relative;
  text-align: center;
  text-transform: capitalize;
}
.row {
  position: relative;
  top: -60px;
  text-align: center;
  margin-top: 60px;
}
.container {
  background: linear-gradient(#cbdbea, #838be2);
  border: solid white;
  display: block;
  margin: 0 auto;
  border-radius: 25px;
}

input#search-city.form-control {
  width: 50%;
  margin: 0 auto;
  margin-top: 5px;
  background: linear-gradient(#eff7f9, #f3fdff);
}

.GitHub-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  text-align: center;
  padding: 0;
}
.card {
  width: 40%;
  border-radius: 35px;
  margin: 0 auto;
}
.mini-card {
  background-color: rgb(255, 255, 255);
  border-radius: 35px;
  margin-top: 40px;
}
.card-body-main {
  padding: 10px;
}
li {
  text-transform: capitalize;
}

#weather-icon {
  text-align: center;
}
#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.active {
  color: #212529;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
.card-text {
  text-transform: capitalize;
}
.weather-forecast-temperature-min {
  color: #79777d;
}
